<%- include('../contain/head.ejs') %>

<body>
    <%- include('../contain/nav.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="message"><%= errorMessage %></div>
        <% } %>
        <form class="form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <p>Please enter a password with at least 5 characters, and only text and numbers</p>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </main>
<%- include('../contain/end.ejs') %>