<%- include('../contain/head.ejs') %>
<body>
    <%- include('../contain/nav.ejs') %>
    <main class="order">
        <% if (orders.length > 0) { %>
                <% orders.forEach(order => { %>
                    <div>
                        <h1>Order - # <%= order._id %></h1>
                        <hr>
                        <ul class="orders__products">
                            <% order.products.forEach(p => { %>
                                <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                            <% }); %>
                        </ul>
                    </div>
                <% }); %>
        <% } else { %>
            <h1>Nothing there!</h1>
        <% } %>
    </main>
    <%- include('../contain/end.ejs') %>